<section>
    <div class="container mt-5">
        <center>
            <h2 class="">Order Successfully</h2>
            <a href="/show-order" class="btn btn-success mt-3" style="color: white;">view order</a>
        </center>
    </div>
</section>