<section>
    <div class="container mt-5">
        <form id="checkout-form">
            <h1>Enter Delivery Details</h1>
            <div class="left-side">
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" style="height: 2cm;" name="address">
                </div>
                <div class="form-group">
                    <label for="inputPincode">Pincode</label>
                    <input type="text" class="form-control" id="inputPincode" name="pincode">
                </div>
                <div class="form-group">
                    <label for="inputMobile">Mobile</label>
                    <input type="text" class="form-control" id="inputMobile" name="mobile">
                </div>
                <input type="text" name="userId" value="{{user._id}}" hidden>
            </div>
            <div class="right-side mt-3">
                <div class="card border-dark mb-3 float-right" style="width: 25rem; height: 15rem;">
                    <div class="card-header">
                        <h3>Total Amount: ${{total}}</h3>
                    </div>
                    <div class="card-body text-dark">
                        <h6 class="card-title">Payment method>-</h6>
                        <div class="mt-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="inlineRadio1" value="cod"
                                    name="payment-method">
                                <label class="form-check-label" for="inlineRadio1">Cash on Delivery</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="inlineRadio1" value="online-payment"
                                    name="payment-method">
                                <label class="form-check-label" for="inlineRadio1">Online Payment</label>
                            </div>
                        </div>
                        <div class="btn-div">
                            <button type="submit" class="btn btn-primary float-right mt-5">Checkout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/order-successful'
                } else {
                    razorpayPayment(response)
                }
            }
        })
    })
</script>
<script>
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_kJb7IEObC39O4 ", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": Teach Cart, //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {
                alert(response.razorpay_payment_id);
                alert(response.razorpay_order_id);
                alert(response.razorpay_signature)
                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();

    }

    function verifyPayment(payment, order) {
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post'
        })
    }
</script>